.register-main{
    height: 100%;
    background-color: white;
}

mat-card{
    background-color: rgba(255, 255, 255, 0.950);
    display: inline-block;
    padding: 10em;
    height: 250px;
    width: 30%;
    border: none;
}

.error{
    color:red;
}